<div class="flex justify-center items-center h-full w-full bg-white dark:bg-gray-800 p-4">
  <nav class="flex w-full max-w-4xl px-4">
    <a
      class="w-full text-center text-base md:text-lg 
      lg:text-xl xl:text-3xl transition-colors duration-300 ease-in-out
      font-bold text-[#d97706] dark:text-gray-300">
      Fundación Ministerio Cristiano el Reino de Dios
    </a>
    <!-- 
    <a 
      href="#" 
      (click)="setPage('Fundación')"
      class="text-lg md:text-xl transition-colors duration-300 ease-in-out  {{ currentPage === 'Fundación' 
        ? 'text-[#c50608] dark:text-[#ffdb00] font-bold' 
        : 'text-dark dark:text-gray-300 hover:text-[#ff2807] dark:hover:text-[#cc9c00]' }}"
    >
    </a>
 
    <a 
      href="#" 
      (click)="setPage('Ministerio')"
      class="text-lg md:text-xl transition-colors duration-300 ease-in-out {{ currentPage === 'Ministerio' 
        ? 'text-[#c50608] dark:text-[#ffdb00] font-bold' 
        : 'text-gray-600 dark:text-gray-300 hover:text-[#ff2807] dark:hover:text-[#cc9c00]' }}"
    >
      Ministerio
    </a>
    -->
  </nav>
</div>