<div class="grid grid-cols-5 grid-rows-[auto_1fr_auto] bg-blue-500 dark:bg-black">
    
    <div>
        <app-header-left></app-header-left>
    </div>

    <div class="col-span-3">
        <app-header-center></app-header-center>
    </div>

    <div class="col-start-5">
        <app-header-right></app-header-right>
    </div>

    <div class="col-span-5 row-span-3 row-start-2">
        <app-scroll-page></app-scroll-page>
        <app-about-us></app-about-us>
        <app-map></app-map>
    </div>

    <div class="col-span-5 row-start-5">
        <app-footer-center></app-footer-center>
    </div>

</div>