<section class="relative w-full h-screen flex items-center justify-center 
                   bg-yellow-50 dark:bg-yellow-900 
                   overflow-hidden">
    <!-- Fondo de imagen -->
    <div class="absolute inset-0 bg-cover bg-center z-0 
                  brightness-50 dark:brightness-[0.25]" style="background-image: url('/test-background.jpg');">
    </div>

    <!-- Contenedor de contenido -->
    <div class="relative z-10 text-center container mx-auto px-4 
            flex flex-col items-center justify-center space-y-8">

        <!-- Espacio para Logo -->
        <div class="w-128 h-96 rounded-full flex items-center justify-center">
            <img src="/logo.png" alt="Logo" class="w-128 h-96 object-contain rounded-full ">
        </div>

    </div>
</section>