<div class="col-span-2">
  <div class="flex items-center p-4 bg-white dark:bg-gray-800 h-full">
      <div class="flex items-center space-x-4 w-full">
          <img src="/logo_sin_letras.png" alt="Logo" class="h-12 w-20 object-contain">
          <a href="#" class="text-lg md:text-xl font-bold text-gray-800 dark:text-white hidden md:block truncate 
                      transition-colors duration-300 ease-in-out hover:text-[#ffc300] dark:hover:text-[#ffc300]">
              MCRD
      </a>
      </div>
  </div>
</div>